<h1>All Applicants</h1>
<p style="float: right;">Logged in as {{reviewer.username}}, <a href="/reviewer/revLogout">Log Out?</a> </p>
<a href="/reviewer"><button>Home</button></a>

<br>
<br>
<form action="">
  <input type="text" name="search" placeholder="Search Applicant">
  <button>Search</button>
</form>
<br>
<br>
<br>
<table >
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      
      
    </tr>
  </thead>
  <tbody>
    {{#each process}}
        <tr>
            <td>{{this._id}}</td>
            
            
            <td>{{this.fName}}</td>
            <td>{{this.lName}}</td>
            <td>{{this.email}}</td>
            <td><a href="/reviewer/{{this._id}}">view profile</a> </td>

            
        </tr>
    {{/each}}
  </tbody>
</table>
